* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
  font-style: regular;
}
form {
  width: 320px;
  height: 282px;
  margin: 50px auto;
  padding: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  font-size: 18px;
}

button {
  width: 100%;
  padding: 10px 8px;
  border-radius: 10px;
  background-color: #007aff;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  background-color: #1763d5;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
}

.form-fotter {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #007aff;
  font-weight: 500;
  margin-left: 3px;
}

.form-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
