* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.text {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 900;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #000000;
}

.controller {
  margin-top: 40px;
}
#btn-start {
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  color: #ffffff;
  background-color: #52ff2b;
}

#btn-reset {
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  background-color: #ff3b3b;
  color: #ffffff;
}

#btn-start:hover {
  background-color: #80ff63;
}

#btn-reset:hover {
  background-color: #ff5959;
}

.cell:hover {
  background-color: blanchedalmond;
}

img {
  max-width: 50%;
}
