<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./css_responsive_md.css" />
    <link rel="stylesheet" href="./css_responsive_sm.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="tag-bar">
          <img src="./asset/Tag_bar.png" alt="Tag-bar" />
        </div>
        <div class="header-logo">
          <img src="./asset/Vector.png" alt="Logo tralog" />
          <span>Tralog</span>
        </div>
        <nav class="header-nav-list">
          <a href="#">Home</a>
          <a href="#">Discover</a>
          <a href="#">Special Deals</a>
          <a href="#">Contact</a>
        </nav>
        <div class="header-buttons">
          <button class="header-login">Log In</button>
          <button class="header-register">Sign Up</button>
        </div>
      </header>

      <main>
        <div class="main-left">
          <div class="main-left_top">
            <span>Explore the world!</span>
            <img src="./asset/Vector-1.png" alt="Explore the world!" />
          </div>
          <div class="main-left_center">
            <h1>Travel <span>top destination</span> of the world</h1>
            <p>
              We always make our customer happy by providing as many choices as
              possible
            </p>
          </div>
          <div class="main-left_bottom">
            <button class="main-left_bottom-btn1">Get Started</button>
            <button class="main-left_bottom-btn2">
              <img src="./asset/Watch_Demo.png" alt="Watch Demo" />
              <span>Watch Demo</span>
            </button>
          </div>
        </div>
        <div class="main-right">
          <img src="./asset/Group 1.png" alt="Layout image" />
        </div>
      </main>

      <footer>
        <img src="./asset/footer_1.png" alt="Fotter image 1" />
        <img src="./asset/footer_2.png" alt="Fotter image 2" />
        <img src="./asset/footer_3.png" alt="Fotter image 3" />
        <img src="./asset/footer_4.png" alt="Fotter image 4" />
        <img src="./asset/footer_5.png" alt="Fotter image 5" />
      </footer>
    </div>
  </body>
</html>
