header {
  max-width: 100%;
  height: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-nav {
    #header-nav_home {
      color: #ff782d;
      background-color: #f5f5f5;
    }

    a {
      text-decoration: none;
      color: black;
      padding: 20px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* max-width: 198px; */
    button {
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      background-color: #ffffff;
    }
    img {
      max-width: 35px;
      max-height: 48px;
    }
  }
}
