main {
  /* min-height: 5979px; */
  max-width: 1920px;
  margin: 0 auto;

  .main-header {
    max-width: 1920px;
    margin: 0 auto;

    background-image: url("../asset/Home/Banner/Home_Banner.png");
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .main-header_content {
      max-width: 520px;
      max-height: 262px;

      h1 {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #000000;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: #555555;
      }

      button {
        border-radius: 24px;
        margin-top: 30px;
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        background-color: #ff782d;
        border: none;
        cursor: pointer;
      }
    }
  }

  .main-menu {
    /* margin: 100px 0; */

    .main-menu_categories {
      display: grid;
      grid-template: repeat(2, 234px) / repeat(5, 1fr);
      gap: 24px;

      .main-menu_categories--item {
        border: 1px solid #eaeaea;
        border-radius: 24px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        transition: transform 0.45s cubic-bezier(0.25, 0.8, 0.25, 1),
          box-shadow 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);

        /* Tối ưu hiệu suất (GPU) */
        will-change: transform, box-shadow;

        h4 {
          font-size: 20px;
          font-weight: 600;
          margin: 10px 0;
        }

        p {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  .main-courses {
    .main-courses_list {
      display: grid;
      grid-template: repeat(2, 474px) / repeat(3, 1fr);
      gap: 30px;

      .main-courses_list--item {
        border: 1px solid #eaeaea;
        border-radius: 20px;
        cursor: pointer;
        transition: transform 0.45s cubic-bezier(0.25, 0.8, 0.25, 1),
          box-shadow 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
        will-change: transform, box-shadow;

        position: relative;

        .main-courses_list--item--content {
          padding: 20px;
          height: 224px;
          .main-courses_list--item--content-2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 16px 0;
            .week {
              margin-right: 24px;
              display: flex;
              align-items: center;
              img {
                object-fit: cover;
                width: 13.33px;
                margin-right: 3px;
              }
            }

            .student {
              display: flex;
              align-items: center;
              img {
                object-fit: cover;
                width: 16px;
                margin-right: 3px;
              }
            }
          }
          .main-courses_list--item--content-3 {
            width: 89%;
            border-top: 1px solid #eaeaea;
            position: absolute;
            bottom: 5%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding-top: 10px;
            .text-1 {
              color: #9d9d9d;
              text-decoration: line-through;
            }

            .text-2 {
              color: #55be24;
              font-weight: 500;
            }

            .text-3 {
              color: #f51a1a;
              font-weight: 500;
            }

            a {
              text-decoration: none;
              font-weight: 500;
              font-size: 18px;
              color: #000000;
            }
          }
        }
      }
    }
  }

  .main-articles {
    margin-bottom: 100px;
    .main-articles_list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      .main-articles_list--item {
        border: 1px solid #eaeaea;
        /* height: auto; */
        border-radius: 20px;
        cursor: pointer;
        transition: transform 0.45s cubic-bezier(0.25, 0.8, 0.25, 1),
          box-shadow 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
        will-change: transform, box-shadow;

        .main-articles_list--item--content {
          padding: 20px;

          .main-articles_list--item--content-2 {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
              margin-left: 10px;
              color: #555555;
              font-size: 14px;
              font-weight: 400;
            }
          }

          .main-articles_list--item--content-3 {
            padding-top: 10px;
            color: #555555;
          }
        }
      }
    }
  }

  .main-feedbacks {
    .main-feedbacks__heading {
      text-align: center;
      margin-bottom: 50px;
      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: #555555;
      }
    }

    .main-feedbacks__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      .main-feedbacks__items--item {
        border: 1px solid #eaeaea;
        border-radius: 20px;
        padding: 30px;
        background-color: #f9f9f9;
        .main-feedbacks__items--item--info {
          margin: 20px 0;
          h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
            font-style: bold;
          }
          span {
            color: #555555;
          }
        }
      }
    }
  }

  .main-statistical {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    .main-statistical__item {
      border: 1px solid #eaeaea;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      border-radius: 20px;
      flex-direction: column;
      background-color: #f5f5f5;

      h2 {
        font-weight: 600;
        font-style: bold;
        font-size: 32px;
        color: #ff782d;
      }
      p {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }

  .main-ads {
    margin-top: 90px;
    display: flex;

    .main-ads__left img {
      object-fit: cover;
    }

    .main-ads__right {
      padding: 42.5px 0 42.5px 100px;

      h2 {
        margin-bottom: 12px;
        font-size: 32px;
        font-weight: 600;
        font-style: bold;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: #555555;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;

        strong {
          color: #55be24;
          margin-right: 5px;
        }
      }
      button {
        border-radius: 24px;
        margin-top: 30px;
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        background-color: #ff782d;
        border: none;
        cursor: pointer;
      }
    }
  }

  .main-menu_heading,
  .main-courses_heading,
  .main-articles_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 77px;
    margin: 45px 0;

    .main-menu_heading--left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
    }
    h2 {
      padding-bottom: 10px;
    }
    button {
      border: 2px solid #9d9d9d;
      border-radius: 24px;
      padding: 10px 24px;
      background-color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .img-main-banner {
    object-fit: cover;
    margin: 70px 0;
    cursor: pointer;
  }

  .main-menu_categories--item:hover,
  .main-courses_list--item:hover,
  .main-articles_list--item:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 1300px) {
  main {
    .main-courses {
      .main-courses_list {
        grid-template: repeat(2, auto) / repeat(2, 1fr);
        gap: 30px;
      }
    }

    img {
      max-width: auto;
      /* object-fit: cover; */
    }
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 777px) {
}

@media screen and (max-width: 450px) {
}
