* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

/* header */

main {
  /* min-height: 5979px; */
}
