* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";

  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  header {
    grid-area: header;

    .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__container--nav {
        min-width: 499px;
        nav {
          display: flex;
          justify-content: space-between;
          a {
            text-decoration: none;
            color: #000000;
            font-size: 16px;
            font-weight: 700;
          }

          a:first-child {
            text-decoration: underline;
          }
        }
      }

      .header__container--user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 220px;
        img:first-child {
          width: 24px;
          height: 24px;
        }

        img:nth-child {
          width: 60px;
          height: 60px;
        }

        img:nth-child(2) {
          margin: 0 10px;
        }

        span {
          color: #7200b8;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }

  aside {
    grid-area: aside;
    width: 300px;
    min-height: 783px;
    border-radius: 10px;
    background-color: #000000;
    position: relative;
    .aside__container {
      max-width: 220px;
      padding: 30px 20px;
      .aside__container--items {
        display: flex;
        flex-direction: column;

        .aside__container--item {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          color: #ffffff;
          padding: 20px 10px;
          margin: 5px 0;
          border-radius: 10px;
          span {
            font-size: 16px;
            font-weight: 700;
            font-style: bold;
            margin-left: 10px;
          }
        }

        .aside__container--item:first-child {
          background-color: #a717fe;
        }

        .aside__container--item:last-child {
          position: absolute;
          bottom: 13%;
        }

        .aside__container--item:not(:first-child):not(:last-child):hover {
          background-color: #bebebe;
          /* transform: translateX(5px); */
          color: #000000;
        }
      }
    }
  }

  main {
    grid-area: main;
    position: relative;
    .main__container {
      display: grid;
      /* grid-template-rows: 1fr 1fr 2fr 1fr; */
      gap: 10px 0;

      .main__container--row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 60px;
        margin-bottom: 5px;
        h2 {
          color: #000000;
          font-size: 25px;
          font-style: bold;
          font-weight: 700;
        }

        span {
          border: 1px solid #7200b8;
          border-radius: 10px;
          padding: 10px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }

      .main__container--row2 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 25px;
        .row2__item {
          max-height: 100px;
          padding: 30px 20px;
          background-color: #000000;
          color: #dff7f7;
          border-radius: 10px;
          font-style: bold;
          cursor: pointer;
        }

        .row2__item:nth-child(2) {
          margin: 0 15px;
        }
      }

      .main__container--row3 {
        display: grid;
        grid-template-columns: 1fr 1fr 350px;
        column-gap: 10px;

        .row3__item {
          border-radius: 15px;
          background-color: #000000;
          color: #ffffff;
          cursor: pointer;
        }
        .row3__item:first-child,
        .row3__item:nth-child(2) {
          margin-top: 35px;
          max-width: 345px;
          max-height: 321px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          font-weight: 700;
          font-style: bold;
          flex-wrap: wrap;
          text-align: center;
          padding: 0 50px;
        }

        .row3__item:last-child {
          height: 500px;

          h3 {
            text-align: center;
            padding: 15px 0;
            font-style: bold;
            font-weight: 700;
            font-size: 20px;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            padding: 0 20px;
            margin: 15px 0;
          }
        }
      }

      .main__container--row4 {
        padding: 30px 5px;
        background-color: #000000;
        color: #ffffff;
        width: 412px;
        /* height: 96px; */
        border-radius: 10px;
        text-align: center;
        margin-left: 200px;
        font-size: 20px;
        font-style: bold;
        font-weight: 700;
      }
    }

    .chat-now {
      position: absolute;
      bottom: -2%;
      right: 0;

      img {
        width: 90px;
        cursor: pointer;
      }
    }
  }
}
